In [ ]:
#no_test
#dependencies

#nlp packages
import spacy
from spacy.util import minibatch, compounding

#manipulation of tables/arrays
import pandas as pd
import numpy as np

#internal imports
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.model_performance_utils import *
from ssda_nlp.xml_parser import *
from ssda_nlp.relationships import *
from ssda_nlp.unstructured2markup import *

In [ ]:
#no_test

trained_model = load_model('models/mat_baut_1', language="es", verbose='True')

Loaded model 'models/mat_baut_1'

In [ ]:
#no_test

demo_df = parse_xml_v2("transcriptions\\cartagena_sd_baut_12.xml")
demo_df.head()

,vol_titl,vol_id,fol_id,text,entry_no
0,Libro de Bautismos No. 12,0,1008,Félix Valois del Carmen En Cartagena de Indias...,1008-1
1,Libro de Bautismos No. 12,0,1008,María Theresa Clemencia. En Cartagena de India...,1008-2
2,Libro de Bautismos No. 12,0,1008,Nicolás Jossé. En Cartagena de Indias a nueve ...,1008-3
3,Libro de Bautismos No. 12,0,1009,Pedro Charralogo. En Cartagena de Indias a die...,1009-1
4,Libro de Bautismos No. 12,0,1009,Nicolás Zeferino. En Cartagena de Indias a cat...,1009-2

In [ ]:
#no_test

ent_preds_df, metrics_df, per_ent_metrics = test_model(trained_model, demo_df, "entry_no", "text", score_model=False)

In [ ]:
#no_test

pd.set_option("display.max_rows", None, "display.max_columns", None)
ent_preds_df.head(20)

,entry_no,pred_entity,pred_label,pred_start,pred_end
0,1008-1,Dr. Simeón Mórelo Delicentia Parochi,PER,88,124
1,1008-1,Félix Valsín del Carmen,PER,148,171
2,1008-1,hijo,CHAR,173,177
3,1008-1,Juan de Loria,PER,189,202
4,1008-1,Feliciana Benedetti,PER,205,224
5,1008-1,padrinos,REL,272,280
6,1008-1,Rass,PER,281,285
7,1008-1,Puello y,PER,291,299
8,1008-1,Luz Bartola,PER,300,311
9,1008-1,Carmen Jose Mórelo,PER,378,396
10,1008-1,Dr. Manuel Fernández de Sotomayor,PER,398,431
11,1008-2,María Theresa Clemencia,PER,0,23
12,1008-2,Dr. Cayetano Figuieras Delicentia Parochi,PER,102,143
13,1008-2,Ma.,PER,167,170
14,1008-2,Theresa Clemencia,PER,171,188
15,1008-2,hija,CHAR,228,232
16,1008-2,Andrea,PER,244,250
17,1008-2,padrino,REL,261,268
18,1008-2,Dr. Simeón Mórelo,PER,279,296
19,1008-2,Cayetano Figuieras Dr. Manuel Fernández de Sot...,PER,363,415