In [1]:
#no_test
#dependencies

#nlp packages
import spacy
from spacy.util import minibatch, compounding

#manipulation of tables/arrays
import pandas as pd
import numpy as np

#internal imports
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.model_performance_utils import *
from ssda_nlp.xml_parser import *
from ssda_nlp.relationships import *
from ssda_nlp.unstructured2markup import *

In [2]:
#no_test

trained_model = load_model('models/15834', language="es", verbose='True')

Loaded model 'models/15834'

In [3]:
#no_test

demo_df = parse_xml_v2("transcriptions\\15834.xml")
demo_df.head()

,vol_titl,vol_id,fol_id,text,entry_no
0,"Libro 1 de Bautismos de Pardos y Morenos, 1719...",15834,1033,[margin]: Juana. Esc.va Domingo veinte y dos d...,1033-1
1,"Libro 1 de Bautismos de Pardos y Morenos, 1719...",15834,1033,[margin]: Paula. Esc.a Juebes veinte y tres de...,1033-2
2,"Libro 1 de Bautismos de Pardos y Morenos, 1719...",15834,1033,[margin]: Maria Esc.a Miercoles prim.o de feb....,1033-3
3,"Libro 1 de Bautismos de Pardos y Morenos, 1719...",15834,1033,[margin]: Bernardo Esc.vo Domingo nueve de Abr...,1033-4
4,"Libro 1 de Bautismos de Pardos y Morenos, 1719...",15834,1034,[margin]: Fran.co Esc.vo [roto] Abril de mil s...,1034-1

In [4]:
#no_test

ent_preds_df, metrics_df, per_ent_metrics = test_model(trained_model, demo_df, "entry_no", "text", score_model=False)

In [5]:
#no_test

pd.set_option("display.max_rows", None, "display.max_columns", None)
ent_preds_df.head(20)

,entry_no,pred_entity,pred_label,pred_start,pred_end
0,1033-1,Juana,PER,10,15
1,1033-1,Esc.va,CHAR,17,23
2,1033-1,Domingo veinte y dos de [roto] y nueve,DATE,24,62
3,1033-1,Thomas de Orvera,PER,66,82
4,1033-1,Juana,PER,121,126
5,1033-1,Mina,CHAR,137,141
6,1033-1,esclava,CHAR,142,149
7,1033-1,Juan Joseph de Justis,PER,159,180
8,1033-1,Joseph Salcedo,PER,197,211
9,1033-1,Ana de Santiago,PER,214,229
10,1033-1,Thomas de Orvera,PER,263,279
11,1033-2,Paula,PER,10,15
12,1033-2,Esc.a,CHAR,17,22
13,1033-2,Juebes veinte y tres de feb.o de mil sietec.to...,DATE,23,86
14,1033-2,Thomas de Orvera,PER,90,106
15,1033-2,Paula,PER,145,150
16,1033-2,h. l.16,CHAR,151,158
17,1033-2,Juan Joseph,PER,162,173
18,1033-2,Maria Josepha,PER,177,190
19,1033-2,esc.s,CHAR,191,196